/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/************************************************************/
/* Custom properties */
:root {
  --grey: #e2e8f0;
  --font-weight: 550;
  --padding: 24px;
}

/************************************************************/
/* General Styles */
body {
  font-family: tahoma, sans-serif;
  background-color: var(--grey);
  text-align: center;
}

/************************************************************/
h1 {
  background-color: white;
  padding: var(--padding);
}

.text-display {
  font-weight: var(--font-weight);
  padding: var(--padding);
}

.game-board {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  gap: 12px;

  width: max-content;
  margin: 24px auto;
}

.board-cell {
  background-color: white;

  font-size: 36px;
  font-weight: var(--font-weight);

  border: none;
  border-radius: 4px;
}